.kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    height: 877px;
    width: 877px;
    background-size: cover;
    animation: rotation 20s linear infinite;
    z-index: -1;
  }